<section class="calendar">
    <div class="container-fluid calendar__container">
        <div class="container">
            <div class="calendar__inner">
                <h2 class="calendar__title title">
                    Қазақстандағы <span>вакцинацияның</span> ұлттық
                    <span>күнтізбесі</span>
                </h2>
                <div class="calendar-table">
                    <div class="calendar-table__titles">
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            ЕГУ
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            БЦЖ
                            <div class="calendar-table__hint"><span>БЦЖ</span> - туберкулезге қарсы вакцинация</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            ВГВ
                            <div class="calendar-table__hint"><span>ВВГ</span> - В гепатитіне қарсы вакцина</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            АбКДС
                            <div class="calendar-table__hint"><span>АбКДС</span> - көкжөтелге, дифтерияға және сіреспеге қарсы вакцинация</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            Хиб
                            <div class="calendar-table__hint"><span>Хиб</span> - гемофилияға қарсы вакцина</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            ИПВ
                            <div class="calendar-table__hint"><span>ИПВ</span> - полиомиелитке қарсы вакцина</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            ІҚВ
                            <div class="calendar-table__hint"><span>ІҚВ</span> - ауызша полиомиелитке қарсы вакцина</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            Пневмо
                            <div class="calendar-table__hint"><span>Пневмо</span> - пневмонияға қарсы вакцина</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            ҚҚП
                            <div class="calendar-table__hint"><span>ҚҚП</span> - қызылшаға, қызамыққа және паротитке қарсы вакцинация</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            АДС-М
                            <div class="calendar-table__hint"><span>АДС-М</span> - дифтерия мен сіреспеге қарсы вакцина</div>
                        </div>
                        <div class="calendar-table__cell calendar-table__title calendar-table__naming">
                            ВГА
                            <div class="calendar-table__hint"><span>ВГА</span> - А гепатитіне қарсы вакцина. Вакцина жергілікті бюджет есебінен сатып алынады</div>
                        </div>
                    </div>
                    <div class="calendar-table__dates">
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            1-4 күн
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            2 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            3 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            4 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            12-15 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            18 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            2 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            2,5 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            6 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            16 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            Әр 10 жыл сайын
                        </div>

                        <!-- БЦЖ -->
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ВГВ -->
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- АбКДС -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- Хиб -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ИПВ -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ИКБ -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- Пневмо -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ККП -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- АДС-М -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>

                        <!-- ВГА -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                    </div>
                </div>
                <div class="calendar-table__row">
                    <button class="calendar-table__button" type="button">
                        <div class="calendar-table__button-icon">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M2 12.6667H14V14H2V12.6667ZM8.66667 8.78137L12.714 4.73337L13.6567 5.67604L8 11.3334L2.34333 5.67671L3.286 4.73337L7.33333 8.78004V1.33337H8.66667V8.78137Z"
                                    fill="#02A8E9"
                                />
                            </svg>
                        </div>
                        Жүктеп алу
                    </button>
                    <button
                        class="calendar-table__button add-to-my-calendar-btn"
                        type="button"
                    >
                        <div class="calendar-table__button-icon">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M11.9997 3.1665H3.99967C2.80306 3.1665 1.83301 4.13655 1.83301 5.33317V11.9998C1.83301 13.1965 2.80306 14.1665 3.99967 14.1665H11.9997C13.1963 14.1665 14.1663 13.1965 14.1663 11.9998V5.33317C14.1663 4.13655 13.1963 3.1665 11.9997 3.1665Z"
                                    stroke="#02A8E9"
                                    stroke-width="1.5"
                                />
                                <path
                                    d="M4.5 1.8335V4.16683"
                                    stroke="#02A8E9"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                />
                                <path
                                    d="M2.5 6.1665H13.5"
                                    stroke="#02A8E9"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                />
                                <path
                                    d="M11.833 1.8335V4.16683"
                                    stroke="#02A8E9"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                />
                                <path
                                    d="M5.5 9.3335C5.77614 9.3335 6 9.10964 6 8.8335C6 8.55735 5.77614 8.3335 5.5 8.3335C5.22386 8.3335 5 8.55735 5 8.8335C5 9.10964 5.22386 9.3335 5.5 9.3335Z"
                                    fill="#02A8E9"
                                />
                                <path
                                    d="M8.16699 9.3335C8.44313 9.3335 8.66699 9.10964 8.66699 8.8335C8.66699 8.55735 8.44313 8.3335 8.16699 8.3335C7.89085 8.3335 7.66699 8.55735 7.66699 8.8335C7.66699 9.10964 7.89085 9.3335 8.16699 9.3335Z"
                                    fill="#02A8E9"
                                />
                                <path
                                    d="M10.833 9.3335C11.1092 9.3335 11.333 9.10964 11.333 8.8335C11.333 8.55735 11.1092 8.3335 10.833 8.3335C10.5569 8.3335 10.333 8.55735 10.333 8.8335C10.333 9.10964 10.5569 9.3335 10.833 9.3335Z"
                                    fill="#02A8E9"
                                />
                                <path
                                    d="M5.5 12C5.77614 12 6 11.7761 6 11.5C6 11.2239 5.77614 11 5.5 11C5.22386 11 5 11.2239 5 11.5C5 11.7761 5.22386 12 5.5 12Z"
                                    fill="#02A8E9"
                                />
                                <path
                                    d="M8.16699 12C8.44313 12 8.66699 11.7761 8.66699 11.5C8.66699 11.2239 8.44313 11 8.16699 11C7.89085 11 7.66699 11.2239 7.66699 11.5C7.66699 11.7761 7.89085 12 8.16699 12Z"
                                    fill="#02A8E9"
                                />
                                <path
                                    d="M10.833 12C11.1092 12 11.333 11.7761 11.333 11.5C11.333 11.2239 11.1092 11 10.833 11C10.5569 11 10.333 11.2239 10.333 11.5C10.333 11.7761 10.5569 12 10.833 12Z"
                                    fill="#02A8E9"
                                />
                            </svg>
                        </div>
                        Жүктеп алу
                    </button>
                    <p class="calendar-table__info">
                        Вакцинация туралы егжей-тегжейлі ақпаратты
                        <a href="https://egu.kz/">EGU.KZ</a> айтынан білуге
                        болады
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
