<section class="calendar">
    <div class="container-fluid calendar__container">
        <div class="container">
            <div class="calendar__inner">
                <h2 class="calendar__title title">
                    Қазақстандағы <span>вакцинацияның</span> ұлттық
                    <span>күнтізбесі</span>
                </h2>
                <div class="calendar-table">
                    <div class="calendar-table__titles">
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            ЕГУ
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            БЦЖ
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            ВГВ
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            АбКДС
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            Хиб
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            ИПВ
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            ІҚВ
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            Пневмо
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            ҚҚП
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            АДС-М
                        </div>
                        <div class="calendar-table__cell calendar-table__title">
                            ВГА
                        </div>
                    </div>
                    <div class="calendar-table__dates">
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            1-4 күн
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            2 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            3 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            4 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            12-15 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            18 ай
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            2 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            2,5 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            6 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            16 жас
                        </div>
                        <div
                            class="calendar-table__cell calendar-table__title calendar-table__head"
                        >
                            Әр 10 жыл сайын
                        </div>

                        <!-- БЦЖ -->
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ВГВ -->
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- АбКДС -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- Хиб -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ИПВ -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ИКБ -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- Пневмо -->
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- ККП -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>

                        <!-- АДС-М -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>

                        <!-- ВГА -->
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div
                            class="calendar-table__cell calendar-table__cell_active"
                        ></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                        <div class="calendar-table__cell"></div>
                    </div>
                </div>
                <div class="calendar-table__row">
                    <button class="calendar-table__button" type="button">
                        <div class="calendar-table__button-icon">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M2 12.6667H14V14H2V12.6667ZM8.66667 8.78137L12.714 4.73337L13.6567 5.67604L8 11.3334L2.34333 5.67671L3.286 4.73337L7.33333 8.78004V1.33337H8.66667V8.78137Z"
                                    fill="#02A8E9"
                                />
                            </svg>
                        </div>
                        Жүктеп алу
                    </button>
                    <button class="calendar-table__button" type="button">
                        <object class="calendar-table__button-icon" data="images/calendar.svg" type="image/svg+xml"></object>
                        Жүктеп алу
                    </button>
                    <p class="calendar-table__info">
                        Вакцинация туралы егжей-тегжейлі ақпаратты
                        <a href="https://egu.kz/">EGU.KZ</a> айтынан білуге
                        болады
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
