<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="#" class="footer__logo">
                <img src="../images/baribar-logo.svg" alt="логотип baribar" />
            </a>
            <address class="footer__contacts">
                <span>Редакция:</span>
                <a href="mailto:info@baribar.kz " class="footer__email"
                    >info@baribar.kz
                </a>
                <a href="tel:+77752692825 " class="footer__phone"
                    >+7 (775) 269-28-25
                </a>
                <p class="footer__address">
                    Алматы қаласы, Абай даңғылы, 52в, 722-бөлме
                </p>
            </address>
        </div>
        <div class="footer__sponsors">
            <span>Жобаға қолдау білдірген</span>
            <div class="footer__sponsors-images">
                <img class="footer__sponsors-image" src="../images/sponsor1.svg" alt="спонсор">
                <img class="footer__sponsors-image" src="../images/sponsor2.svg" alt="спонсор">
                <img class="footer__sponsors-image" src="../images/sponsor3.svg" alt="спонсор">
            </div>
        </div>
    </div>
</footer>
