<header class="header">
	<div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img src="images/logo.svg" alt="логотип">
            </a>
            <nav class="header__nav">
                <a href="#" class="header__link header__link_calendar">
                    Вакцинаяция күнтізбесі
                </a>
                <a href="#" class="header__link">
                    Жоба туралы                    
                </a>
                <a href="#" class="header__link">
                    Команда
                </a>
                <a href="#" class="header__link">        
                    Байланыс
                </a>
            </nav>
            <button type="button" class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>