<section class="materials">
    <div class="container-fluid materials__container">
        <div class="container">
            <div class="materials__inner">
                <!-- .material-ы должны рендериться по БД материалов -->
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Как прививка поможет <span>защитить</span> ребенка
                        </h3>
                        <img
                            class="material__image"
                            src="images/material1.svg"
                            alt="material image"
                        />
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
