<section class="materials">
    <div class="container-fluid materials__container">
        <div class="container">
            <div class="materials__inner">
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Как прививка поможет <span>защитить</span> ребенка
                        </h3>
                        <img
                            class="material__image"
                            src="images/material1.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Как становилась
                            <span>казахская школа вакцинации</span>
                        </h3>
                        <img
                            class="material__image"
                            src="images/material2.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Влияет ли вакцина на возможность стать
                            <span>отцом</span>
                        </h3>
                        <img
                            class="material__image"
                            src="images/material3.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Какую угрозу цивилизации несет вирус
                        </h3>
                        <img
                            class="material__image"
                            src="images/material1.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Не коронавирусом единым: Какие вирусы опасны
                            <span>легким</span> человека
                        </h3>
                        <img
                            class="material__image"
                            src="images/material4.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Как формируется и распространяется
                            <span>антиваксерское движение</span>
                        </h3>
                        <img
                            class="material__image"
                            src="images/material5.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Корь не сидит сложа руки: Какие вирусы
                            <span>угрожают Казахстану</span>
                        </h3>
                        <img
                            class="material__image"
                            src="images/material6.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Как <span>“закалялся”</span> вирус
                        </h3>
                        <img
                            class="material__image"
                            src="images/material7.svg"
                            alt="material image"
                        />
                    </a>
                </article>
                <article class="material">
                    <a href="#" class="material__link">
                        <h3 class="material__title">
                            Рассказ <span>экс</span>-антиваксера
                        </h3>
                        <img
                            class="material__image"
                            src="images/material8.svg"
                            alt="material image"
                        />
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
