<section class="project" id="project">
    <div class="container">
        <div class="project__inner">
            <div class="project__column">
                <div class="project__image">
                    <img src="images/kid.png" alt="kid">
                </div>
                <div class="project__sponsors">
                    <p>Жобаға қолдау білдірген</p>
                    <div class="project__sponsors-logos">
                        <a href="https://www.unicef.org/kazakhstan/en" target="_blank">
                            <img src="images/sponsor1.svg" alt="unicef">
                        </a>
                        <img src="images/sponsor2-black.svg" alt="usaid">
                    </div>
                </div>
            </div>
            <div class="project__box">
                <h2 class="project__title title">
                    Жоба туралы
                </h2>
                <p class="project__text">
                    Бұл арнайы жоба вакцина туралы сан түрлі сауалдың жауабын іздеп жүрген қалың оқырман үшін жүзеге асырылып отыр: ғылыми-зерттеу мәліметтеріне, дәлелді медицинаға cүйеніп үтір танымдық мақалалар жариялаймыз және оны дәрігерлердің, сарапшылардың пікірімен растаймыз. 
                    <br>
                    <br>
                    Екпеге қатысты біржақты дұрыс көзқарас әлі толық қалыптасқан жоқ, оның бір себебі – көпшілікке түсінікті тілде жазылған сауатты ақпараттың жеткілікті деңгейде ұсынылмауы. Біздің медиа-жоба осы бағытта жасалған қадамның бірі болмақ. 
                    <br>
                    <br>
                    Парақшамыздан ата-ана баласына вакцина салдыру туралы әлдебір пайдалы мәлімет білсе немесе бір адам кең таралған әлдебір алыпқашпа сөздің не себепті жалған екенін түсінсе, мақсатымыздың орындалғаны деп білеміз. 
                    <br>
                    <br>
                    <span>Бізбен бірге болыңыз.</span>
                </p>
            </div>
        </div>
    </div>
</section>