<section class="team">
    <div class="container-fluid team__container">
        <div class="container">
            <h2 class="team__title title">Команда</h2>
            <div class="team__inner">
                <div class="team-member">
                    <img
                        class="team-member__image"
                        src="images/team-member1.png"
                        alt="Манар Смағұл"
                    />
                    <div class="team-member__box">
                        <h3 class="team-member__name">
                            Манар
                            <span>Смағұл</span>
                        </h3>
                        <p class="team-member__position">
                            Жобаның ғылыми кеңесшісі
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <img
                        class="team-member__image"
                        src="images/team-member2.png"
                        alt="Манар Смағұл"
                    />
                    <div class="team-member__box">
                        <h3 class="team-member__name">
                            Димаш
                            <span>Зиядин</span>
                        </h3>
                        <p class="team-member__position">Редактор</p>
                    </div>
                </div>
                <div class="team-member">
                    <img
                        class="team-member__image"
                        src="images/team-member3.png"
                        alt="Манар Смағұл"
                    />
                    <div class="team-member__box">
                        <h3 class="team-member__name">
                            Наргиза
                            <span>Аршидин</span>
                        </h3>
                        <p class="team-member__position">Журналист</p>
                    </div>
                </div>
                <div class="team-member">
                    <img
                        class="team-member__image"
                        src="images/team-member4.png"
                        alt="Манар Смағұл"
                    />
                    <div class="team-member__box">
                        <h3 class="team-member__name">
                            Мейірман
                            <span>Лес</span>
                        </h3>
                        <p class="team-member__position">Журналист</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
