<section class="welcome">
    <div class="container-fluid welcome__container">
        <div class="container">
            <div class="welcome__inner">
                <div class="welcome__box">
                    <h1 class="welcome__title">
                        Ауырып ем іздегенше, <span>ауырмайтын</span> жол ізде
                    </h1>
                    <p class="welcome__text">
                        Әр баланың және қоғамның денсаулығы – маңызды мәселе, сол себепті бұл жоба вакцина туралы сан түрлі сауалдың жауабын іздеп жүрген оқырман үшін жүзеге асырылып отыр. Вакцинацияға қатысты мамандардың пікірі мен тексерілген дерек бойынша контент әзірлейміз. Жоба өзіңіз бен отбасыңыз үшін саналы шешім қабылдауға көмектеседі деген үмітіміз бар.
                    </p>
                </div>
                <div class="welcome__image">
                    <img src="images/welcome-img.png" alt="healthy family">
                </div>
            </div>
        </div>
    </div>
</section>